*{
    box-sizing: border-box;
    text-align:center;   
}

body {
     background-image: url(../images/Magical-Background-For-you.jpg);
    background-size: 2000px;
    }

    #title {
        color: black;
        font-family: Luminari, fantasy;
        outline-style: solid, 20px, black;  
    }

  #paragraph {
    color: black;
    box-sizing: border-box;
    border-style: solid;
    border-color:black;
    font-size: 30px;
    background-color: darkorange;   
  }  

  #crystal1 {
      background-color: transparent;
      border-style:none;
  }

  #crystal2 {
    background-color:transparent;
    border-style:none;
  }

  #crystal3 {
    background-color: transparent;
    border-style:none;
  }

  #crystal4 {
    background-color: transparent;
    border-style:none;
  }

  #computerNumber {
    color: darkorange;
    font-family: Luminari, fantasy;
    font-size:30px;
  }

  #Wins {
    color: darkorange;
    font-family: Luminari, fantasy;
    font-size:30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  #Losses {
    color:darkorange;
    font-family: Luminari, fantasy;
    font-size:30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  #totalScore {
    color: darkorange;
    font-family: Luminari, fantasy;
    font-size:30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }

  #totalMessage {
    color: red;
    font-family: Luminari, fantasy;
    font-size:30px;
  }
